body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: skyblue;
}

.headerPrincipal {
    text-align: center;

}

.container {
   align-items: center;
}

.tituloPrincipal {
    font-size: 35px;
    color: green;
}

.subtitulo {
    font-size: 30px;
    color: blue;
}
.container2{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.lista1 {
    font-size: 21px;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
.busqueda{
    text-align: center;
    font-size: 27px;
}

.historia {
    color:blue;
    text-align: center;
    padding-top: 15px;
}
.estudios {
    color:blue;
    text-align: center;
}
.lista2 {
    font-size: 22px;
}
.lista3 {
    font-size: 22px;
}
.conocimientos {
    color:blue;
    text-align: center;
}

.lista4 {
    font-size: 22px;
    margin-bottom: 30px;
}
#contacto{
    font-size: 27px;
    text-align: center;
    color:blue;
}

#listacontacto{
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    
}

#listaContacto-click1, #listaContacto-click2, #listaContacto-click3, #listaContacto-click4, #listaContacto-click5 {
    border-style: outset;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 5px;
	color: #0a144d;
	background-color: #87a189;
	text-decoration: none;
    border-radius: 20px;
    margin-left: 3px;
    margin-right: 3px;
	
    }
.pie{
    font-size: 18px;
    text-align: center;
}
